df-messenger {
    --df-messenger-bot-message: #696969;
    --df-messenger-button-titlebar-color: #4B0082;
    --df-messenger-chat-background-color: #F8F8FF;
    --df-messenger-font-color: white;
    --df-messenger-send-icon: #ADD8E6;
    --df-messenger-user-message: #8A2BE2;
    --df-messenger-input-font-color: white;
    --df-messenger-input-box-color: #8A2BE2;
    --df-messenger-input-placeholder-font-color: #D3D3D3;
   ;
} 